.reserve{
    width: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rContainer{
    position: relative;
    padding:20px;
    background-color: white;
    height: 70vh;
}

.rClose{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #0071c2;
}

.rItem{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.rItemInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rTitle{
    font-weight: 500;
}

.rDesc{
    font-weight: 300;
}

.rMax{
    font-size: 12px;
}

.rPrice{
    font-weight: 500;
}

.rSelectRooms{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 8px;
    color: #555;
}

.rSelecteRooms:disabled{
    color: red;
}

.room{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rButton{
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}